services:
  - type: web
    name: studymatgen
    env: docker
    dockerfilePath: ./Dockerfile
    plan: starter
    region: oregon
    buildCommand: ""
    startCommand: ""
    envVars:
      - key: FLASK_ENV
        value: production
      - key: PORT
        value: 5000
      - key: PYTHONUNBUFFERED
        value: "1"
    disk:
      name: studymatgen-storage
      mountPath: /app/outputs
      sizeGB: 5
    autoDeploy: true